@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-green-light: #b4fc41;
  --color-green-medium: #47a312;
  --color-green-dark: #2b5712;

  --color-blue-light: #abe0ff;
  --color-blue-medium: #1c59af;
  --color-blue-dark: #122c79;

  --color-orange-light: #ffce2c;
  --color-orange-medium: #a4721b;
  --color-orange-dark: #723d08;

  --color-neutral-white: #fffef4;
  --color-neutral-light: #f0eee1;
  --color-neutral-medium: #e1decb;
  --color-neutral-dark: #b7b19f;
  --color-neutral-x-dark: #797462;
  --color-neutral-black: #333436;

  --color-red-light: #ffc0c1;
  --color-red-dark: #6e170a;

  --font-family-sans: "Barlow Condensed", ui-sans-serif, system-ui, sans-serif;
  --font-family-display: "Pirata One", cursive;
}

body {
  font-family: var(--font-family-sans);
}
